.scroll-gallery {
  position: absolute;
  white-space: nowrap;
  overflow-x: hidden;
  opacity: 0.4;
  width: 100%;
  font-size: 0;
  z-index: 0;
}

.scroll-gallery img {
  height: 800px;
  animation: 20s scroll-gallery linear infinite;
}

.video-card {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  border: 1px solid;
  border-right: 0;
  border-image: linear-gradient(to right, #444 0%, #444 2%, transparent 0%) 1;
  padding: 10px;
  gap: 20px;
}

.video-card iframe {
  border-radius: 16px;
}

.wmf-section {
  display: flex;
  align-items: center;
  margin: 100px 0;
}

.wmf-section > div {
  max-width: 1152px;
}

@keyframes scroll-gallery {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-1500%);
  }
}